p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail {
    width: 300px;
    display: block;
}

.search-bar {
    display: block;
}

.video-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
}

.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.channel-pic {
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.channel-info {
    display: inline-block;
    width: 200px;
}

.pfp {
    width: 85%;
    border-radius: 30px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.video-author {
    margin-bottom: 4px;
}

.video-author, .video-stats {
    font-size: 15px;
    color: rgb(96, 96, 96);
}
