.yt{
    background-color: rgb(207, 0, 0);
    color: white;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition: opacity 0.15s;
}

.yt:hover{
    opacity: 75%;
}

.yt:active{
    opacity: 50%;
}

.join{
    background-color: white;
    color: blue;
    border-color: blue;
    border-width: 1px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.5s, color 0.5s ;
}

.join:hover {
    background-color: blue;
    color: white;
}

.join:active {
    opacity: 70%;
}

.twt{
    background-color: rgb(26, 174, 200);
    color: white;
    border: none;
    height: 35px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: box-shadow 0.15s, opacity 0.2s;
}

.twt:hover{
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.20);
}
.twt:active{
    opacity: 60%;
}